<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
</head>
<body>
    <input type="text", placeholder="ID", id="id"><br>
    <input type="text", placeholder="PW", id="pw"><br>
    <a href="http://localhost:8080/sign" target="">아이디가 없으십니까?</a><br>
    <button id="login", type="button">로그인</button>
</body>
    <script type="text/javascript" src="/js/home/login.js"></script>
</html>