<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <input type="text" placeholder="이름" id="name"><br>
    <input type="text" placeholder="아이디" id="id"><br>
    <input type="text" placeholder="비밀번호" id="pw"><br>
    <input type="text" placeholder="비밀번호 확인" id="pwcheck"><br>
    <input type="text" placeholder="핸드폰 번호" id="phone"><br>
    <input type="text" placeholder="이메일" id="email"><br>
    <button id="cancel">cancel</button>
    <button id="check">check</button>
</body>
    <script type="text/javascript" defer src="/js/home/sign.js"></script>
</html>